.container {
  color: white; 
}

.input-group .form-control {
  background-color: #282222; 
  color: white;
}

.input-group .form-control::placeholder {
  color: rgba(224, 210, 210, 0.752); 
}

.table-striped {
  background-color: #333;
}

.table-striped th,
.table-striped td {
  color: white;
  background-color: #333;
  border: 1px solid white;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #333;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #444;
}

h1, h2, p.error {
  color: white; 
}

.text-large {
  font-size: 1.25rem; /* Set larger font size */
}