.navbar {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #202020;
  position: fixed;
  top: 0px;
  padding-inline: 150px;
  border-top-right-radius:30px;
  border-bottom-right-radius:30px; 
  border-top-left-radius:30px;
  border-bottom-left-radius:30px; 
}

.navbar-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 1rem;
}

.navbar-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 25px;
}

.navbar-link:hover {
  text-decoration: underline;
}